.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 1em;
  background-color: #fff;
  color: #333;

  a {
    color: #333;
    text-decoration: none;
    font-size: 1.5em;
    transition: color 0.3s ease;

    &:hover {
      color: #64b0fc;
    }
  }
}